.container {
  padding: 150px;
  display: flex;
  justify-content: center;
}

.left {
  flex: 2;
}
.done{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}

@keyframes  inProgress {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}
.undone{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}
.undone .checkedIcon, .inProgress .checkedIcon{
  display: none;
}
.right {
  flex: 1;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  width: 70%;
  border-spacing: 20px;
  align-items: center;
}
.table .tr{
  justify-items: center;
  justify-content: center;
}
.row:last-child{
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.status{
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .name {
  font-weight: 500;
  color: #d1411e;
  font-size: 18px;
} */

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 90%;
  max-height: 300px;
  background-color: #333;
  padding: 50px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  height: 30px;
  color: #d1411e;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .table {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .trTitle{
    display: none;
    justify-items: center;
    justify-content: center;
  }

  .tr{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-style: 20px;
  }
  .id::before{
    content:"Order ID: ";
    font-weight: 500;
  }
  .name::before{
    content:"Customer : ";
    font-weight: 500;
  }
  .address::before{
    content:"Address : ";
    font-weight: 500;
  }
  .total::before{
    content:"Total : ";
    font-weight: 500;
  }
  .imgContainer{
    width: 35vw;
    height: 35vw;
  }
  .extras,.price,.quantity{
    font-size: 22px;
  }

   
  .total::before{
    content: "Total: ";
    font-weight: 500;
  }
  .row:last-child{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .done, .undone, .inProgress{
    margin-bottom: 20px;
  }
  .wrapper{
    width: 100%;
    
  }
}